header.header {
  width: 100%;
  padding-bottom: 15px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-side {
  display: flex;
  align-items: center;
}
